<div id="navbar" class="pane navbar" role="navigation">
  <ul class="navbar navbar-left">
    <li class="navbar-item">
      <a
        matTooltip="Show/hide metadata"
        aria-label="Button that show/hide resource metadata when click."
        class="button metadata"
        (click)="heroService.toggleMetadata($event)"
        [ngClass]="heroService.metadataPaneActive ? 'on' : 'off'"
        >
        <span i18n="@@metadataLabel">Metadata</span>
      </a>
    </li>
    <li class="navbar-item">
      <a
        i18n-title title="Toggle between view"
        class="paging toggle page-double"
        (click)="heroService.toggleResourceViewState()"
        [ngClass]="heroService.resourceViewState ? 'on' : 'off'"
        >
        <span i18n="@@togglePageLabel">Toggle between view</span>
      </a>
    </li>
    <li class="navbar-item">
      <a
        i18n-title title="Select resource"
        class="button thumbnails"
        (click)="heroService.togglePagination($event)"
        [ngClass]="heroService.isPaginationPaneActive ? 'on' : 'off'"
        >
        <span i18n="@@togglePaginationLabel">Pages</span>
      </a>
    </li>
    <li class="navbar-item">
        <a
          i18n-title title="Rotate resource"
          class="button rotate"
          (click)="heroService.rotateResource($event)"
          >
          <span i18n="@@rotateLabel">Rotate resource</span>
        </a>
      </li>
  </ul>

  <div class="navbar navbar-middle">
    <div id="control-zoom">
      <div
        id="control-zoom-in"
        class="navbar-item"
        i18n-title title="Zoom in"
        >
        <div
        class="olControlDLTSZoomInItemInactive olButton"
        (click)="heroService.zoomIn($event)"
        >
        </div>
      </div>
      <div id="control-zoom-out" class="navbar-item" i18n-title title="Zoom out">
        <div class="olControlDLTSZoomOutItemInactive olButton" (click)="heroService.zoomOut($event)"></div>
      </div>
    </div>
  </div>

  <ul class="navbar navbar-arrows">
    <li class="navbar-item navbar-pager-left">
      <a
        i18n-title title="Go to previous page"
        class="paging previous pager-left">
        <span i18n="@@previousPageLabel">Go to previous page</span>
      </a>
    </li>
    <li class="navbar-item navbar-pager-right">
      <a
        i18n-title title="Go to next page"
        class="paging next pager-right">
        <span i18n="@@nextPageLabel">Go to next page</span>
      </a>
    </li>
  </ul>
  <ul class="navbar-fullscreen">
    <li class="navbar-item">
      <a
        i18n-title title="Toggle fullscreen"
        class="button fullscreen"
        (click)="heroService.toggleFullScreen($event)"
        [ngClass]="heroService.fullScreenPaneActive ? 'on' : 'off'"
        >
        <span i18n="@@toggleFullscreenLabel">Toggle fullscreen</span>
      </a>
    </li>
  </ul>
</div>
