<div id="pager" class="pane pager" dir="ltr">
  <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [tickInterval]="tickInterval"
    [(ngModel)]="value"
    [vertical]="vertical">
  </mat-slider>
  <span role="navigation">
    <form><input id="slider_value" value="1" aria-label="Page to jump to"></form> <span>/</span> <span
      class="sequence_count">746</span>
  </span>
</div>
