
$bg-image-background: image-url("images/background.jpg");
$bg-image-default: image-url("images/real-rosies-1280px.jpg");
$bg-image-1280: image-url("images/real-rosies-1280px.jpg");
$bg-image-768: image-url("images/real-rosies-768px.jpg");
$bg-image-320: image-url("images/real-rosies-320px.jpg");
$bg-image-480: image-url("images/real-rosies-480px.jpg");
$bg-image-960: image-url("images/real-rosies-960px.jpg");
$bg-behavior: image-url("images/PIE.htc");
$img-button: image-url("images/button.png");
$img-select-arrow: image-url("images/select-arrow.gif");
$bg-image-default-home: image-url("images/background.jpg");
