<div id="squaresWaveG">
  <span id="squaresWaveG_1" class="squaresWaveG"></span>
  <span id="squaresWaveG_2" class="squaresWaveG"></span>
  <span id="squaresWaveG_3" class="squaresWaveG"></span>
  <span id="squaresWaveG_4" class="squaresWaveG"></span>
  <span id="squaresWaveG_5" class="squaresWaveG"></span>
  <span id="squaresWaveG_6" class="squaresWaveG"></span>
  <span id="squaresWaveG_7" class="squaresWaveG"></span>
  <span id="squaresWaveG_8" class="squaresWaveG"></span>
</div>
<p>Loading Page <span class="current_page">1</span></p>
