<app-navbar></app-navbar>
<div role="main" id="main" class="pane main" dir="ltr" [ngClass]="heroService.metadataPaneActive ? 'pagemeta-available' : 'pagemeta-hidden'">
  <app-heroes id="pagemeta" class="pane pagemeta" [ngClass]="heroService.metadataPaneActive ? 'available' : 'hidden'"></app-heroes>
  <app-display role="presentation" aria-hidden="true" id="display" class="pane display"></app-display>
  <app-loading class="pane load loading" role="presentation" aria-hidden="true"></app-loading>
</div>
<app-pager id="pager" class="pane pager" dir="ltr"></app-pager>
<app-thumbnails></app-thumbnails>
<router-outlet></router-outlet>
