<div role="presentation" aria-hidden="true" id="display" class="pane display"
  data-url="http://localhost:9000/viewer/books/fales_io_book000004" data-identifier="fales_io_book000004"
  data-sequence-count="746" data-sequence="1"
  data-title="Instructions sur la navigation des Indes Orientales et de la Chine, pour servir au Neptune oriental"
  data-pageView="single">
  <app-resource class="app-resource"></app-resource>
  <a title="Go to previous page" href="http://localhost:9000/viewer/books/fales_io_book000004/1"
    class="paging previous pager-left inactive">
    <span>Go to previous page</span>
  </a>
  <a title="Go to next page" href="http://localhost:9000/viewer/books/fales_io_book000004/2"
    class="paging next pager-right active">
    <span>Go to next page</span>
  </a>
</div>
